<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="panda">

  <!-- Include XACRO-MACRO file of the PANDA ROBOT: -->
  <xacro:include filename="$(find my_robot_pkg)/description/xacro/panda_macro.urdf.xacro" />
  <xacro:panda
    prefix=""
  />

  <!-- Gazebo world link: -->
  <link name="world" />
  <joint name="world-base_link-fixed" type="fixed">
    <parent link="world" />
    <child link="panda_link0" />
  </joint>

</robot>